os: Visual Studio 2017

platform: x64

install:
    - '"C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"'
    - appveyor-retry choco install strawberryperl --allow-empty-checksums
    - SET PATH=C:\strawberry\c\bin;C:\strawberry\perl\site\bin;C:\strawberry\perl\bin;%PATH%
    - appveyor-retry git clone https://github.com/rakudo/rakudo.git %APPVEYOR_BUILD_FOLDER%\..\rakudo
    - cd %APPVEYOR_BUILD_FOLDER%\..\rakudo
    - perl Configure.pl --gen-moar --gen-nqp --backends=moar
    - nmake install
    - SET PATH=%APPVEYOR_BUILD_FOLDER%\..\rakudo\install\bin;%PATH%
    - SET PATH=%APPVEYOR_BUILD_FOLDER%\..\rakudo\install\share\perl6\site\bin;%PATH%
    - cd %APPVEYOR_BUILD_FOLDER%

build: off

test_script:
  - SET NETWORK_TESTING=1
  - perl6 -I. -e "require(q[Build.pm6]); ::(q[Build]).new.build(q[.])"
  - prove -v -e "perl6 -I." t/

shallow_clone: true
