name: test

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:
    branches:
      - main

jobs:
  raku:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        raku-version:
          - 'latest'
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: Raku/setup-raku@v1
        with:
          raku-version: ${{ matrix.raku-version }}
      - name: Install Libraries (MacOS)
        if: matrix.os == 'macOS-latest'
        run: brew install openssl
      - name: Install Dependencies
        run: zef install --/test --test-depends --deps-only .
      - name: Build
        run: zef build .
      - name: Stage, Test, and Installation
        run: zef install . --debug
